@page "/student/signup"
@inject StudentInfoStorage StudentInfoStorage
@inject NavigationManager NavigationManager

@code {
    [SupplyParameterFromForm]
    private SignUpDto? Model { get; set; }
    private EditContext? editContext;
    private ValidationMessageStore? validationMessageStore;
    protected override void OnInitialized()
    {
        // invalid entry
        if (StudentInfoStorage.RegisterNumber == 0)
            NavigationManager.NavigateTo("/student/verify");
        // validation logic
        Model ??= new();
        editContext = new(Model);
        validationMessageStore = new(editContext);
    }
    private void Submit()
    {
        Debug.WriteLine("clicked submit!");
    }
    void OnPhotoUpload(InputFileChangeEventArgs args)
    {
        Debug.WriteLine("file upload!");
    }
}

<PageTitle>Sign up</PageTitle>
<PrimaryLayout>
<Content>
    <PrimaryCard>
        <Content>
        <EditForm EditContext="@editContext" OnValidSubmit="@Submit" FormName="SignUpForm">
        <DataAnnotationsValidator />
        <span class="primary-title">Create account</span>
        <div class="grid-container">
            <!--row 1-->
            <div class="rows">
                <div class="form-group">
                <span class="label">password</span>
                <InputText @bind-Value="@Model!.Password" type="password"/>
                <ValidationMessage For="@(()=>Model!.Password)" />
                </div>
                <div class="form-group">
                <span class="label">check password</span>
                <InputText  @bind-Value="@Model.CheckPassword" type="password"/>
                <ValidationMessage For="@(()=>Model!.CheckPassword)" />
                </div>
            </div>
            <!--row 2-->
            <div class="rows">
                <div class="form-group">
                <span class="label">upload profile</span>
                <InputFile OnChange="@OnPhotoUpload" /> 
                </div>
            </div>
        </div>
        <PrimaryButton Title="continue"/>
        </EditForm>
        </Content>
        </PrimaryCard>
</Content>
</PrimaryLayout>
