@page "/student/signup"
@using Unohana.Services
@using Unohana.Services.Authentication
@using Unohana.ValidationDtos
@inject UserStorage StudentInfoStorage
@inject NavigationManager NavigationManager
@inject Student Student

@code {
    private string SignUpFailure { get; set; } = string.Empty;

    [SupplyParameterFromForm]
    private SignUpDto? Model { get; set; }
    private EditContext? editContext;
    private ValidationMessageStore? validationMessageStore;

    protected override void OnInitialized()
    {
        // invalid entry
        if (StudentInfoStorage.RegisterNumber == 0)
            NavigationManager.NavigateTo("/student/verify");

        // validation logic
        Model ??= new();
        editContext = new(Model);
        validationMessageStore = new(editContext);
    }

    async Task Submit()
    {
        try{
            bool result = await Student.SignUp(
                Model!.Password,
                StudentInfoStorage.RegisterNumber,
                StudentInfoStorage.Username,
                StudentInfoStorage.Email
            );
            if (result is false)
                SignUpFailure = "failed to signUp!";
            else
                SignUpFailure = "success! created new account!";
        }catch(Exception ex){ Debug.WriteLine("SignUp error: " + ex); }
    }

    void OnPhotoUpload(InputFileChangeEventArgs args)
    {
        Debug.WriteLine("file upload!");
    }
}

<title>
    Sign up
</title>
<PrimaryLayout>
<Content>
    <PrimaryCard>
        <Content>
        <EditForm EditContext="@editContext" OnValidSubmit="@Submit" FormName="SignUpForm">
        <DataAnnotationsValidator />
        <span class="primary-title">Create account</span>
        <div class="grid-container">
            <!--row 1-->
            <div class="rows">
                <div class="form-group">
                <span class="label">password</span>
                <InputText @bind-Value="@Model!.Password" type="password"/>
                <ValidationMessage For="@(()=>Model!.Password)" />
                </div>
                <div class="form-group">
                <span class="label">check password</span>
                <InputText  @bind-Value="@Model.CheckPassword" type="password"/>
                <ValidationMessage For="@(()=>Model!.CheckPassword)" />
                </div>
            </div>
            <!--row 2-->
            <div class="rows">
                <div class="form-group">
                <span class="label">upload profile</span>
                <InputFile OnChange="@OnPhotoUpload" /> 
                </div>
            </div>
        </div>
        <PrimaryButton Title="continue"/>
        </EditForm>
        <span class="">@SignUpFailure</span>
        </Content>
        </PrimaryCard>
</Content>
</PrimaryLayout>
