@model Unohana.ViewModels.CreateUserAccountVM

<div class="body-container">
    <h1>Create an Account</h1>

    <form class="form-container" asp-action="CreateAccountView" method="post">

        <label>First Name</label>
        <input asp-for="@Model.UserDetails.FirstName" />
        <span asp-validation-for="@Model.UserDetails.FirstName"></span>

        <label>Last Name</label>
        <input asp-for="@Model.UserDetails.LastName" />
        <span asp-validation-for="@Model.UserDetails.LastName"></span>

        <label>Password</label>
        <input asp-for="@Model.UserDetails.Password" />
        <span asp-validation-for="@Model.UserDetails.Password"></span>

        <label>Confirm Password</label>
        <input asp-for="@Model.UserDetails.ConfirmPassword" />
        <span asp-validation-for="@Model.UserDetails.ConfirmPassword"></span>

        <button type="submit">Create Account</button>
    </form>

</div>