@model Unohana.ViewModels.CreateUserAccountVM

<div class="body-container">
    <h1>Create an Account</h1>

    <form class="form-container" asp-action="Submit" method="post">

        <label>First Name</label>
        <input type="text" asp-for="@Model.UserDetails.FirstName" />
        <label asp-validation-for="@Model.UserDetails.FirstName"></label>

        <label>Last Name</label>
        <input type="text" asp-for="@Model.UserDetails.LastName" />
        <label asp-validation-for="@Model.UserDetails.LastName"></label>

        <label>Password</label>
        <input type="text" asp-for="@Model.UserDetails.Password" />
        <label asp-validation-for="@Model.UserDetails.Password"></label>

        <label>Confirm Password</label>
        <input type="text" asp-for="@Model.UserDetails.ConfirmPassword" />
        <label asp-validation-for="@Model.UserDetails.ConfirmPassword"></label>

        <button type="submit">Create Account</button>
    </form>

</div>